# Rust
/target/
/crates/*/target/
#.sqlx

# Frontend
/frontend/node_modules/
/frontend/dist/
/frontend/src/wasm/*.wasm
/frontend/src/wasm/*.js
/frontend/src/wasm/*.d.ts
/frontend/src-tauri/target/

# WASM
/crates/wasm/pkg/

# Environment
.env
.env.local
.env.*.local

!.env.example

# Docker
docker-compose.override.yml

# IDE
.idea

# OS
.DS_Store
Thumbs.db