.chatItem {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: start;

    padding: 5px;
    gap: 5px;

    border-radius: var(--border-radius);

    &:hover {
        cursor: pointer;
        background: var(--bg-elevated);
    }

}

.active {
    background: var(--bg-elevated);
}