@use "@/styles/mixins" as *;

.chatItem {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: start;

    padding: 5px 150px 5px 20px;
    gap: 5px;

    transition: background-color 0.2s;

    border-radius: var(--border-radius);

    &:hover {
        cursor: pointer;
        background-color: var(--bg-elevated);
    }
}

.active {
    background-color: var(--bg-elevated);
}