main {
    width: 100%;
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;
}

.loginForm {
    display: flex;
    flex-direction: column;

    background: var(--bg-soft);

    padding: 2rem 3rem;

    width: 50%;
    max-width: 40rem;

    gap: 0.4375rem;

    border-radius: var(--border-radius);
    border: 2px solid var(--accent-color);

    .title {
        margin: 0 0 0.625rem 0;
    }

    .actions {
        display: flex;
        gap: 5px;

        & button {
            width: 100%;
        }
    }
}

@media (width < 850px) {
    .loginForm {
        width: 100%;
        margin: 0 3.125rem;
    }
}