.panel {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    width: 100%;

    margin: 0;
    padding: 0.3125rem;

    gap: 0.625rem;

    border: 2px solid var(--accent-border);

    border-radius: var(--border-radius);
}

.user {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;

    gap: 0.625rem;
}

.actions {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    gap: 0.625rem;
}

.iconButton {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    border-radius: 50%;

    padding: 0.3125rem;
    gap: 0.625rem;

    background: transparent;
    border: none;

    &:hover {
        background: var(--accent-soft);
        cursor: pointer;

        transition: background-color 0.2s;
    }
}