@use "@/styles/mixins" as *;

.sidebar {
    display: flex;
    flex-direction: column;

    padding: 10px;

    height: 100%;
    width: 100%;

    border-radius: var(--border-radius);

    @include panel;

    .chats {
        display: flex;
        flex-direction: column;

        gap: 5px;

        height: 100%;
    }
}