.sidebar {
    display: flex;
    flex-direction: column;

    padding: 10px;

    height: 100%;

    background: var(--bg-soft);

    .chats {
        display: flex;
        flex-direction: column;

        gap: 5px;

        height: 100%;
    }
}