.dock {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    overflow-x: auto;

    margin: 0;
    padding: 5px;

    gap: 1rem;

    scroll-behavior: smooth;
    scrollbar-width: thin;
    -webkit-overflow-scrolling: touch;

    background: var(--bg-soft);

    z-index: 10;
}